@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    CLUBE UNIVERSITÁRIO JF <br />
    Rua Halfeld, 828, sala 1101 <br />
    Centro, Juiz de Fora - Minas Gerais
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:contato@clubeuniversitariojf.com.br">contato@clubeuniversitariojf.com.br</a><br />
</address>