@{
    ViewBag.Title = "Clube Universitário";
}

<br /><br />
<div class="row" style="text-align:center">
   
        <img src="~/Content/images/logo.png" />
   
</div>
<div class="row" style="text-align:center">

    <div class="col-lg-8" style="float:none;margin:0 auto;text-align:center">
        <h2>Sistema gerenciador de consumo</h2>
        <p>
            Os parceiros do clube universitário tem acesso exclusivo ao sistema de gerenciamento de consumo,
            permitindo que os parceiros possam identificar as melhores promoções para seus clientes.
        </p>
        <p>@Html.ActionLink("Acessar", "Login", "Account") </p>
    </div>
</div>