
@{
    ViewBag.Title = "ValidarPromocao";
}

<h2>Cartão validado com sucesso.</h2>

<a href="/Validar/Promocao/@ViewBag.IdPromocao"> Voltar para a promoção</a> <br />
<a href="/Validar/Parceiro/@ViewBag.IdParceiro"> Escolher outra promoção deste parceiro</a> <br />


